
.top-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.atributo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.vidas img {
  width: 100px;  
  height: 100px;  
  margin-right: 10px;  
}

.resultado {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.SlimesEscogidos {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.SlimesEscogidos img {
  width: 600px;
  height: 600px;
}

.AtributosPlayers {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.AtributosPlayers li {
  list-style: none;
  margin-right: 20px;
}






